.coffee {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-m-l);
    text-align: center;
    gap: var(--space-xs);
    line-height: 1.2;
}

.coffee svg {
    width: 50px;
    height: 50px;
}

.coffee a {
    margin-left: 0 !important;
    background-color: #FBAA19 !important;
    color: var(--color-dark) !important;
}