.comments-container {
	border-top: 0.8rem solid var(--color-dark);
	padding-top: var(--space-m-l);
}

.info-container,
.btn-container {
	display: flex;
	font-family: var(--font-base);
}

.info-container {
	align-items: flex-end;
	margin-bottom: var(--space-xs);
}

.btn-container {
	align-items: center;
	justify-content: space-between;
}

/* Button styles */
.comment-btn {
	text-decoration: none;
	border: 0.2rem solid var(--color-dark);
	border-radius: var(--border-radius);
	padding: var(--space-xs);
	transition: background-color 0.3s, color 0.3s;
}

.comment-btn:hover {
	background-color: var(--color-dark);
	color: var(--color-white);
}

/* Comment elements styles */
.comment {
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	border: 0.2rem solid var(--color-dark);
	border-radius: var(--border-radius);
	padding: var(--space-m-l);
	position: relative;
}

.comment-author,
.user-name,
.reactions-container {
	border-radius: var(--border-radius);
	color: var(--color-white);
	padding: calc(var(--space-xs) / 2);
	font-size: var(--size-step-0);
}

.comment-author {
	background-color: coral;
	position: absolute;
	top: -20px;
	right: -10px;
}

.user-name {
	margin-right: var(--space-s);
	background-color: var(--color-primary);
}

.user-avatar {
	border-radius: var(--border-radius);
	width: 3rem;
	height: 3rem;
	margin-right: var(--space-s);
}

.comment-time {
	font-size: 16px;
}

.reactions-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -20px;
	left: -10px;
	background-color: var(--color-secondary-glare);
	font-size: 14px;

	& span {
		margin-right: var(--space-xs);
		font-family: var(--font-base);
		color: var(--color-dark);

		&:last-child {
			margin-right: 0;
		}
	}
}