.logo {
  font-family: var(--font-display);
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  letter-spacing: -0.01rem;
  padding: var(--space-xs) 0;
}
