---
layout: base
pagination:
  data: collections.posts
  size: 4
  alias: posts
---

<header class="section spot-color-light-glare">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {# {% include 'svg/divider-pixels.svg' %} #}
</header>

<article class="wrapper">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% for post in posts %}

      <li class="card flow overflow-hidden">
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        {% set definedDate = post.date %}
        {% include "partials/date.njk" %}
        <p>{{ post.data.description }}</p>
      </li>

    {% endfor %}
  </ul>

  <div class="pagination region">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">Newer Posts</a>
    {% endif %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older Posts</a>
    {% endif %}
  </div>
</article>
{% include "partials/blog-tags.njk" %}