---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog spot-color-light-glare">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

    {% set definedDate = date %}
    {% include "partials/date.njk" %}

    <ul class="tags">
      {% for tag in tags | exclude('posts') %}
        <li class="button button__small">
          <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>

    <p class="read-time">Takes approximately <span>{{ content | emojiReadTime  }}</span></p>

    {{ content | safe  }}

    {% set pageUrl = [page.url, rootURL] | join | urlencode %}
    {% set stitle = title | urlencode %}

    <p>
      <a href="https://www.facebook.com/sharer.php?u={{ pageUrl }}">Facebook</a> ~
      <a href="https://twitter.com/intent/tweet?url={{ pageUrl }}&text={{ stitle }}">Twitter</a> ~
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ pageUrl }}">LinkedIn</a> ~ 
      <a href="https://reddit.com/submit?url={{pageUrl}}&title={{stitle}}">Reddit</a>
    </p>
  </div>
</article>