---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog spot-color-light-glare">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

    {% set definedDate = date %}
    {% include "partials/date.njk" %}

    <ul class="tags">
      {% for tag in tags | exclude('posts') %}
        <li class="button button__small">
          <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>

    <p class="read-time">Takes approximately <span>{{ content | emojiReadTime  }}</span></p>

    {% if toc %}
      {% include "partials/toc.njk" %}
    {% endif %}

    {{ content | safe  }}

    {% set pageUrl = [rootURL, page.url] | join %}
    {% set urlEncoded = pageUrl | urlencode %}
    {% set stitle = title | urlencode %}

    {% include "partials/coffee.njk" %}

    {% if related %}
      <hr>
      <aside>
        <h2>You might also like:</h2>
        <ul class="grid mt-l-xl" role="list">
          {% for relatedPost in related %}
            <li class="card flow overflow-hidden">
              <a href="{{ relatedPost.url }}">{{ relatedPost.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}

    <div class="flow comments-container" data-postId="{{ postId }}">
      <!-- Comments will be loaded here -->
      <div class="loader"></div>
    </div>

    <hr>
    <h3>Share this post</h3>
    <article>
      {# Social Share Buttons #}
      {% include "socialShare.njk" %}
    </article>
  </div>
</article>