---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog spot-color-light-glare">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

    {% set definedDate = date %}
    {% include "partials/date.njk" %}

    <ul class="tags">
      {% for tag in tags | exclude('posts') %}
        <li class="button button__small">
          <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>

    <p class="read-time">Takes approximately <span>{{ content | emojiReadTime  }}</span></p>

    {% if toc %}
      {% include "partials/toc.njk" %}
    {% endif %}

    {{ content | safe  }}

    {% set pageUrl = [rootURL, page.url] | join %}
    {% set urlEncoded = pageUrl | urlencode %}
    {% set stitle = title | urlencode %}

    <hr>
    <h3>Share this post</h3>
    <p>
      <a href="https://www.facebook.com/sharer.php?u={{ urlEncoded }}" target="_blank">Facebook</a> · 
      <a href="https://twitter.com/intent/tweet?url={{ urlEncoded }}&text={{ stitle }}" target="_blank">Twitter</a> · 
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ urlEncoded }}" target="_blank">LinkedIn</a>
    </p>
  </div>
</article>