<section class="wrapper coffee pagination" role="banner">
    {% include "icons/social-kofi.svg" %}
    <h3>Should you find delight and value in this post, kindly consider treating me to a coffee!</h3>
    <a href="https://ko-fi.com/saadbess" target="_blank">Caffeine time!</a>
</section>