{% set activePage = page.url | url %}

<footer class="site-foot" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      {# <nav id="footernav" class="site-foot__inner" aria-label="Footer">
        {% for item in navigation.bottom %}

          <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %}
      </nav> #}

      <nav id="social" class="site-foot__inner" aria-label="Social links">
        {% for item in social %}

          {% if item.platform == "rss" %}
            <a href="{{ meta.url }}/{{ locale }}{{ item.url }}" rel="alternate" type="application/rss+xml">
            {% else %}
              <a href="{{ item.url }}" rel="me">
              {% endif %}
              <span class="sr-only">{{ item.platform }}</span>
              <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
            </a
          >
          {% endfor %}

        </nav>
      </div>
      <div class="site-foot__copyright">
        <p>This Web site is built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://decapcms.org/" target="_blank">Decap CMS</a> and hosted on <a href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>

        &copy; {% year %}
        <a href="/" {% if activePage === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }}
        </a>. <strong>All rights reserved.</strong>
      </div>
    </div>

    <!-- lang menu -->
  </footer>